<h1>Workouts</h1>
//<a class="btn btn-primary" [routerLink]="['NewWorkout']">Add Workout</a>


<div class="row" *ngFor="#workout of workouts">
    <div id="workout-container">
        <h2>{{ workout.name }}</h2>
        <div class="panel panel-default" *ngFor="#set of workout.exerciseSets">

            <div class="panel-body">
                <div *ngFor="#setdetail of set.exercises" class="exercise-block panel panel-default">
                    <div class="panel-body">
                        {{ setdetail.exercise.name }}
                    </div>
                    <div class="panel-footer"> reps: {{ setdetail.reps}} </div>
                </div>
            </div>
            <div class="panel-footer">{{ set.type }}</div>
        </div>
    </div>
</div>