
#workout-container{
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
}

.exercise-block{
    width: 100px;
    float: left;
    margin-left: 20px;
}

.exercise-block-form{
    width: 300px;
    float: left;
    margin-left: 20px;
}

.zero-clipboard {
    position: relative;
}
.btn-clipboard {
    position: absolute;
    top: 3px;
    right: 3px;
}